
header {
    top: 0;
    max-width: 1500px;
    margin: 0 auto;
    background-color: #F7F7F7;
}

.container__header {
    max-width: 1480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px auto 0px auto;
    padding: 0 20px;
}

.header__block__logo {
    display: flex;
    align-items: center;
    gap: 17px;
}

.header__menu__list {
    position: relative;
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 0 5px;
    z-index: 2
}

.header__menu__item {
    margin: 5px 0;
}

.header__menu__link {
    padding: 7px 15px 3px 20px;
    border-radius: 40px;
    transition: background .4s;
    width: fit-content;
}

.textAndImg {
    display: flex;
    gap: 5px;
    align-items: center;
}

.header__arrow_white {
    display: none;
}

.header__course__list {
    position: absolute;
    display: flex;
    gap: 20px;
    left: 68px;
    right: 0;
    top: 26px;
    padding-top: 20px;
    ;
}

.container__header__burger {
    display: none;
}

/* Стили ДЕСКТОП */
.header__text_logo {
    font-size: 50px;
    line-height: 61px;
    text-transform: uppercase;
    color: #131441;
}

.header__menu__link {
    display: flex;
    line-height: 20px;
    text-transform: uppercase;
    color: #131441;
}

.header__course__link {
    font-size: 16px;
    line-height: 130%;
    color: #131441;
    border-bottom: 1px solid transparent;
    transition: border 0.4s;
}

/* Hover ДЕСКТОП */
.header__menu__link:hover {
    cursor: pointer;
    background-color: #f6f6f6;
    transition: background .4s;
}

.header__course__link:hover {
    border-bottom: 1px solid #131441;
    transition: border 0.4s
}

/* Активный пункт меню ПОДСТАВИТЬ АЛЛИАСЫ JS */
.header__menu__link.active__header {
    color: white;
    background: #3B32F5;
    box-shadow: 2px 0px 8px -2px rgba(20, 16, 101, 0.4);
}

.header__menu__link.active__header .header__arrow_black {
    display: none;
}

.header__menu__link.active__header .header__arrow_white {
    display: block;
}

/*СТИЛИ ПЛАНШЕТ */
.container__header__contacts {
    width: 285px;
}

.header__phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.header__phone_text {
    font-size: 30px;
    line-height: 120%;
    text-transform: uppercase;
    color: #131441;
}

.header__block__map {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block__we__connect {
    border-top: 1px #131441 solid;
    padding-top: 10px;
    margin-bottom: 20px;
}

.header__text__map {
    width: 234px;
    font-size: 14px;
    line-height: 130%;
    color: #131441;
}

.header__block__messages {
    display: flex;
    gap: 20px;
    margin-top: 38px;
}

.text__we__connect span {
    padding-right: 17px;
}

.header__icons__mess:hover {
    fill: #3B32F5
}

.header__block__course__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 800px;
    width: 100%;
    padding-top: 20px;
    border-top: 2px solid #E0E0E0;
    margin-top: 20px;
}
.header__block__genre a{
    color: #131441;
}
.header__block__genre {
    font-size: 16px;
    line-height: 20px;
    color: #131441;
    width: 175px;
    margin-bottom: 10px;
}

.header__text__genre {
    font-size: 16px;
    line-height: 130%;
    color: #131441
}

.header__block__genre:last-child {
    width: fit-content;
}

.header__octava__text {
    font-size: 18px;
    line-height: 22px;
    color: #131441;
}

.header__text__bottom {
    font-size: 16px;
    line-height: 20px;
    color: #131441;
}

.header__block__bottom {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header__container__bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto
}

.container__header__contacts,
.header__block__course__list,
.header__container__bottom {
    display: none;
}

@media (min-width: 1100px) and (max-width: 1300px) {

    .header__course__list {
        display: block;
        left: 110px;
        background-color: #FFFFFF;
        width: fit-content;
        padding: 0px 10px;
        border-radius: 2px 2px 10px 10px;
        top: 35.5px;
        left: 86px;
        display: none;
    }

    .header__course__item:first-child {
        padding-top: 10px;
    }

    .header__course__item:last-child {
        padding-bottom: 10px;
    }

    #header__submenu:hover .header__course__list {
        display: block;
    }

    .header__course__item {
        padding: 3px 0;
    }

    .header__menu__list {
        gap: 10px;
    }

    .header__menu__link {
        padding: 7px 8px 3px 10px;
        font-size: 14px;
    }
}

.btn-menu {
    position: fixed;
}
.header__screen{
    margin-bottom: 114px;
}
/*.header__container__bottom {position: absolute; top: 90%; left: 50%; transform: translateX(-50%);*/
/*    width: fit-content;}*/



@media screen and (max-width: 1099.97px) {
 .container__header__burger{
    width: 100%;
    position: fixed;

 }
 .btn-menu{
    z-index: 1002;
 }


    .header__menu__link {
        padding: 7px 20px 8px 20px;
        border-radius: 40px;
        transition: background .4s;
        width: fit-content;
    }

    .container__header__contacts {
        display: block;
    }

    header {
        padding-top: 0;
    }

    body.active {
        overflow: hidden;
    }

    .container__header.active {
        overflow: auto;
    }

    .btn-menu {
        position: relative;
        transition: stroke;

    }

    #loges {
        transition: border .4s;
        background-color: #F7F7F7;
    }

    #loges.active {

        transition: border 1s;
        z-index: 100;
    }

    .container__header__burger {
        display: flex;
    }

    .container__header__contacts {
        display: block;
    }

    .header__container__bottom,
    .header__block__course__list {
        display: flex;
    }

    #loges {
        margin-right: 20px;
    }

    header {
        position: fixed;
        height: 100%;
    }

    .container__header {
        position: relative;
        height: 100%;
        justify-content: flex-start
    }

    .header__menu__item {
        margin: 0;
    }

    .header__menu__list {
        flex-direction: column;
        align-items: start;
    }

    .container__header {
        flex-direction: column;
        align-items: start;
    }

    .header__block__logo {
        width: 100%;
        margin-bottom: 20px;
        max-width: 800px;
        width: 100%;
    }

    .header__text_logo {
        font-size: 40px;
    }

    .container__header {
        margin-top: 0;
    }

    .header__arrow_black {
        display: none;
    }

    .header__menu__link.active__header .header__arrow_white {
        display: none;
    }

    .header__course__list {
        display: none;
    }

    .header__block__menu {
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: end;
        width: 100%;
        flex-wrap: wrap;
        max-width: 800px;
    }
}

@media screen and (min-width: 1099.97px) {
    .container__header {
        padding-bottom: 24px;
    }
}

@media screen and (max-width: 1099.97px) {

    header{
        top: 0;
        margin: 0 auto;
        padding-top: 25px;
        background-color: #F7F7F7;
        width: 100%;
        position: fixed;
        z-index: 1001;
        min-width: 100%;
    }
    .header__block__menu {
        margin-top: 80px;
        border-top: 2px #E0E0E0 solid;
    }
    #naiv {
        display: none;
    }

    header {
        background-color: #F6F6F6;
        z-index: 1000;
        width: 100%;
        height: 100%;
    }

    .btn-menu.active {
        z-index: 1002;
        position: fixed;
    }

    .btn-menu {
        background-color: transparent;
        position: fixed;
        right: 2.5%;
        top: 3.5%;
        width: 3rem;
        height: 3rem;
        border: 0;
        z-index: 1002;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .container__header__burger {
        z-index: 1002;
        top: 0;
    }

    .btn-menu .line {
        width: 75%;
        height: 4px;
        top: 0;
        position: relative;

    }

    .btn-menu .line,
    .btn-menu .line::after,
    .btn-menu .line::before {
        display: inline-block;
        background-color: #131441;
        height: 3px;
        width: 38px;
        transform: rotate(0deg);
        border-radius: 2px;
        transition: top .3s ease-in;
    }

    .btn-menu.active .line,
    .btn-menu.active .line::after,
    .btn-menu.active .line::before {
        transition: transform .3s ease-in;

    }

    .btn-menu .line::before {
        top: -0.75rem;
    }

    .btn-menu .line::after {
        top: 0.75rem;
    }

    .btn-menu .line::after,
    .btn-menu .line::before {
        content: "";
        width: 100%;
        position: absolute;
        left: 0;
    }

    .btn-menu.active .line {
        background-color: transparent;
    }

    .btn-menu.active {
        background-color: transparent;
    }

    /*.btn-menu .line::after,
    .btn-menu .line::before {
        top: -.75rem;

    }*/
    .btn-menu.active .line::before {
        top: 0rem;
        transform: rotate(45deg);
        background-color: #131441;
        ;

    }

    .btn-menu.active .line::after {
        top: 0rem;
        transform: rotate(-45deg);
        background-color: #131441;
        ;
    }

    header {
        position: fixed;
    }

    header.active {
        left: 0;
        transform: none;

        transition: left .4s;
        width: -moz-fit-content;
        height: 100%;
        overflow: auto;
    }

    header {
        transition: left .4s, transform .4s;
        left: -100%;
        transform: translate(-100%);
        width: -moz-fit-content;
    }

    .container__header__burger .header__block__logo {
        border-bottom: 2px solid transparent;
        min-width: 100%;
    }

    .header__block__logo {
        padding-bottom: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 600px) {
    .header__menu__list {
        width: 100%;
    }

    .header__block__logo {
        margin-top: 25px;
    }

    .container__header__contacts {
        order: 1;
        height: 65%;
    }

    .header__block__bottom {
        display: block;

    }

    .header__container__bottom {
        margin: 0;
        transform: none;
        align-items: end;
        position: relative;
        left: 100%;
        top: 0;
        transform: translate(-100%);
    }

    .header__block__bottom {
        text-align: end
    }

    header {
        margin-top: 0;
    }

    .header__block__course__list {

        margin-bottom: 20px;
    }
}

@media screen and (max-width: 430px) {
    .header__screen {
        margin-bottom: 67px;
    }
    .btn-menu .line,
    .btn-menu .line::after,
    .btn-menu .line::before {
        width: 27px;
        height: 2px;
    }

    .btn-menu .line::before {
        top: -0.5rem;
    }

    .btn-menu .line::after {
        top: 0.5rem;
    }

    header {
        height: fit-content;
        width: 100%;
    }

    .container__header {
        width: 100%
    }

    .header__block__genre,
    .header__block__genre:last-child {
        width: 150px;
    }

    .header__text__genre {
        font-size: 14px;
    }

    .header__block__course__list {
        justify-content: space-between;
    }

    .header__block__logo,
    .header__block__menu {
        width: 100%;
        margin-top: 38px;
    }

    .header__svg__icons {
        width: 36px;
        height: 36px;
    }

    .header__logo {
        display: none;
    }

    .header__text_logo {
        font-size: 16px;
        line-height: 19px;
    }

    .header__block__logo {
        padding: 15px 0px;
    }

    .container__header {
        padding-right: 10px;
        padding-left: 10px;
    }

    .btn-menu {
        top: 0;
    }

    #loges {
        padding: 15px 0px;
        margin: 0px 10px 18px 10px;
    }
}

@media screen and (max-width: 345px) {
    .container__header {
        padding-right: 0;
    }

    .header__phone_text {
        font-size: 28px;
    }
}

#loges.active,
#loges {
    margin: 0;
    padding: 20px;
}


@media(min-width:1099.77px){
    header{
        margin: 0 auto;
        background-color: #F7F7F7;
        width: 100%;
        position: fixed;
        z-index: 1001;
        min-width: 100%;
    }
}
